In [13]:
import pandas as pd
import re
import numpy as np
import json
from sklearn.preprocessing import OneHotEncoder

In [15]:
# load the data
def load_data():
    df = pd.read_csv("listings.csv.gz", compression='gzip')
    return df
df = load_data()
print(df)

                       id                                       listing_url  \
0                  164448               https://www.airbnb.com/rooms/164448
1                  220851               https://www.airbnb.com/rooms/220851
2                  238411               https://www.airbnb.com/rooms/238411
3                  242188               https://www.airbnb.com/rooms/242188
4                  273906               https://www.airbnb.com/rooms/273906
...                   ...                                               ...
5218  1321121257587188985  https://www.airbnb.com/rooms/1321121257587188985
5219  1321592072491619841  https://www.airbnb.com/rooms/1321592072491619841
5220  1321811206140917325  https://www.airbnb.com/rooms/1321811206140917325
5221  1321863150641245338  https://www.airbnb.com/rooms/1321863150641245338
5222  1321949733901820355  https://www.airbnb.com/rooms/1321949733901820355

           scrape_id last_scraped       source  \
0     20241230011645   2024-12-30  city scrape
1     20241230011645   2024-12-30  city scrape
2     20241230011645   2024-12-30  city scrape
3     20241230011645   2024-12-30  city scrape
4     20241230011645   2024-12-30  city scrape
...              ...          ...          ...
5218  20241230011645   2024-12-30  city scrape
5219  20241230011645   2024-12-30  city scrape
5220  20241230011645   2024-12-30  city scrape
5221  20241230011645   2024-12-30  city scrape
5222  20241230011645   2024-12-30  city scrape

                                             name  \
0     Double room in central Stockholm with Wi-Fi
1                         One room in appartement
2             Cozy apartment in central Stockholm
3     Single room in central Stockholm with Wi-Fi
4                  Penthouse in central Stockholm
...                                           ...
5218                      Perfekt familjelägenhet
5219                               Designlägenhet
5220                         Best south stockholm
5221                       Comfort de Luxe Älvsjö
5222                       Mysigt korttidsboende.

                                            description  \
0     I am renting out a nice double room on the top...
1                                              Welcome!
2                                                   NaN
3     I am renting out a nice single room on the top...
4                                                   NaN
...                                                 ...
5218  Cozy and fresh three with two bedrooms, open p...
5219  This unique accommodation of 22 sqm, has large...
5220  Green unique area with the first pedestrian st...
5221  Bring the whole family to this amazing place w...
5222  Newly built second floor in 2020 of 32 sqm in ...

                                  neighborhood_overview  \
0                                                   NaN
1     Many restaurangs wery close and walkingdistanc...
2     Restaurants, cafés, museums, art galleries, pa...
3                                                   NaN
4                                                   NaN
...                                                 ...
5218                                                NaN
5219                                                NaN
5220                                                NaN
5221                                                NaN
5222                                                NaN

                                            picture_url    host_id  ...  \
0     https://a0.muscache.com/pictures/f56d8d10-a7fa...     784312  ...
1     https://a0.muscache.com/pictures/2085606/7a706...     412283  ...
2     https://a0.muscache.com/pictures/2806060/7fc68...    1250232  ...
3     https://a0.muscache.com/pictures/2303148/55d1e...     784312  ...
4     https://a0.muscache.com/pictures/2881091/f5404...    1432722  ...
...                                                 ...        ...  ...
5218  https://a0.muscache.com/pictures/miso/Hosting-...   23803002  ...
5219  https://a0.muscache.com/pictures/miso/Hosting-...  425836786  ...
5220  https://a0.muscache.com/pictures/miso/Hosting-...  389733262  ...
5221  https://a0.muscache.com/pictures/hosting/Hosti...    6311326  ...
5222  https://a0.muscache.com/pictures/hosting/Hosti...  669352745  ...

     review_scores_communication review_scores_location review_scores_value  \
0                           4.97                   4.84                4.76
1                           4.88                   4.81                4.70
2                           4.95                   4.85                4.64
3                           4.98                   4.89                4.84
4                           4.75                   5.00                5.00
...                          ...                    ...                 ...
5218                         NaN                    NaN                 NaN
5219                         NaN                    NaN                 NaN
5220                         NaN                    NaN                 NaN
5221                         NaN                    NaN                 NaN
5222                         NaN                    NaN                 NaN

     license instant_bookable calculated_host_listings_count  \
0        NaN                f                              2
1        NaN                f                              2
2        NaN                f                              1
3        NaN                f                              2
4        NaN                f                              2
...      ...              ...                            ...
5218     NaN                f                              1
5219     NaN                f                              1
5220     NaN                f                              1
5221     NaN                t                              1
5222     NaN                t                              1

     calculated_host_listings_count_entire_homes  \
0                                              0
1                                              1
2                                              1
3                                              0
4                                              2
...                                          ...
5218                                           1
5219                                           1
5220                                           0
5221                                           1
5222                                           1

     calculated_host_listings_count_private_rooms  \
0                                               2
1                                               1
2                                               0
3                                               2
4                                               0
...                                           ...
5218                                            0
5219                                            0
5220                                            1
5221                                            0
5222                                            0

     calculated_host_listings_count_shared_rooms reviews_per_month
0                                              0              2.63
1                                              0              0.40
2                                              0              0.69
3                                              0              2.64
4                                              0              0.03
...                                          ...               ...
5218                                           0               NaN
5219                                           0               NaN
5220                                           0               NaN
5221                                           0               NaN
5222                                           0               NaN

[5223 rows x 75 columns]

In [16]:
# data cleaning
def clean_data(df):
    
    df_clean = df.copy()
    # convert price $ to numeric
    df["price"] = df["price"].replace("[\$,]", "", regex=True).astype(float)
    
    # handle missing values for numerical columns
    numeric_cols = ["bathrooms", "bedrooms", "beds", "accommodates", "minimum_nights"]
    for col in numeric_cols:
        if col in df_clean.columns:
            df_clean[col] = df_clean[col].fillna(df_clean[col].median())

    # process amenities column (convert to list)
    df_clean["amenities_list"] = df_clean["amenities"].apply(parse_amenities)

    common_amenities = [
        "Wifi", "Kitchen", "Heating", "Air conditioning", "Washer", "Dryer", 
        "TV", "Hair dryer", "Iron", "Smoke alarm", "Fire extinguisher", 
        "Dishwasher", "Refrigerator", "Microwave", "Oven", "Stove", "Coffee maker",
        "Hot water", "Elevator", "Free parking"
    ]

    for amenity in common_amenities:
        df_clean[f"has_{amenity.lower().replace('', '_')}"] = df_clean["amenities_list"].apply(lambda x: 1 if amenity in x else 0)

    # extract room features
    df_clean["is_entire_home"] = df_clean["room_type"].apply(lambda x:1 if x == "Entire home/apt" else 0)
    df_clean["is_private_room"] = df_clean["room_type"].apply(lambda x:1 if x == "Private room" else 0)

    if "name" in df_clean.columns:
        df_clean["title_word_count"] = df_clean["name"].fillna("").apply(lambda x:len(str(x).split()))
        df_clean["title_length"] = df_clean["name"].fillna("").apply(len)
    
    if "description" in df_clean.columns:
        df_clean["description_word_count"] = df_clean["description"].fillna("").apply(lambda x: len(str(x).split()))
    

    return df_clean

In [17]:
def parse_amenities(amenities):
    if pd.isna(amenities):
        return []
    
    try:
        cleaned_str = amenities.replace("\\", "")
        if cleaned_str.startswith("[") and cleaned_str.endswith("]"):
            return json.loads(clean_data)
    
    except:
        pass

    try:
        items = re.findall(r'"([^"]*)', amenities)
        return items
    except:
        return []

In [22]:
df_clean = clean_data(df)
df_clean["description"]

0       I am renting out a nice double room on the top...
1                                                Welcome!
2                                                     NaN
3       I am renting out a nice single room on the top...
4                                                     NaN
                              ...
5218    Cozy and fresh three with two bedrooms, open p...
5219    This unique accommodation of 22 sqm, has large...
5220    Green unique area with the first pedestrian st...
5221    Bring the whole family to this amazing place w...
5222    Newly built second floor in 2020 of 32 sqm in ...
Name: description, Length: 5223, dtype: object

In [7]:
#print(df_clean)
#df_clean["amenities"]
enc = OneHotEncoder(sparse_output=True, handle_unknown='ignore')
all_amenities = set(amenity for sublist in df_clean['amenities'] for amenity in sublist)
all_amenities_list = np.array(list(all_amenities)[0:4]).reshape(-1, 1)
enc.fit_transform(all_amenities_list)
# print(enc.get_feature_names_out())
#df_clean["amenities"]
enc.transform([["Hair dryer"]]).toarray()
all_amenities_list

array([['&'],
       ['3'],
       ['/'],
       ['2']], dtype='<U1')